<div class=" bg-black text-light section" id="section-5">
  <div class="container mt-5 py-5 " id="">
    <div class="row text-center ">
      <div class="col-md-5 col-12">
        <h1>Nuestro equipo</h1>
        <p class="my-4">Somos una agrupación conformada por 8 empresas de
          facturación
          electrónica. Especialistas en retail, educación, aduanas, gobiernos, entre otros, que en
          forma conjunta contamos con más de 100 años en el mercado, asegurando un mayor respaldo a
          nuestros clientes.</p>
      </div>

      <div class=" d-none d-md-block col-md-6">
        <img src="/assets/img/equipo.svg" class="img img-fluid" style="width: 400px" alt="">
      </div>
    </div>
  </div><!-- /.container -->
</div>