<div class="section-4" id="ofrecemos">
  <div class="container-fluid">
    <div class="row h-100">
      <div class="col-md-3 my-4">
        <h1>Ofrecemos</h1>
      </div>
      <div class="col-md-9">
        <div class="row">

          <div class="col-md-6 my-4 px-5">
            <h2>Proceso Ágil</h2>
            <p>Contribuimos a agilizar y decentralizar los procesos de facturación electrónica</p>
          </div>

          <div class="col-md-6 my-4 px-5">
            <h2>Clientes Involucrados</h2>
            <p>Nuestros clientes podrán comprobar, verificar y autorizar la emisión de comprobantes
              electrónicos para los 8 PSE que la conforman</p>
          </div>

          <div class="col-md-6 my-4 px-5">
            <h2>Confiabilidad</h2>
            <p>Garantizamos se obtenga el servicio que la empresa desea de forma optima y efectiva
            </p>
          </div>

          <div class="col-md-6  my-4 px-5">
            <h2>Soluciones</h2>
            <p>Soluciones integrales y mejores niveles de soporte para nuestros clientes</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
