<div class="wraper section d-none d-md-block" id="section-1">
  <div class="oscuro">

  </div>
  <div class="col-md-4  mt-5 pt-5 text-light">
    <h3 class="font-weight-normal text-center">Consulta de comprobantes <br>de pagos Electrónicos <br>OSE
    </h3>
    <div class="text-center">
      <a class="btn btn-primary" routerLink="/consulta">Consultar</a>
    </div>

  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="wraper-gris section d-md-none" id="section-1">
  <div class="oscuro"></div>
  <div class="col-md-4  mt-5 pt-5 text-light">
    <h3 class="font-weight-normal text-center">Consulta de comprobantes <br>de pagos Electrónicos <br>OSE
    </h3>
    <div class="text-center">
      <a class="btn btn-primary" routerLink="/consulta">Consultar</a>
    </div>

  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>